.home .action-button
    border-radius: 0 !important;
    padding-left: 3rem !important;
    padding-right: 3rem !important;

.home .feature p
    color: #333 !important;

.theme-default-content pre
    border-radius: 0 !important;

div[class*="language-"]
    border-radius: 0 !important;

.custom-block.tip
    border-color: #1389FD !important;

.navbar
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1);

.home
    padding-top: 0 !important;

.home .description
	color: #075b9a !important;

.page hr
    margin-top: 35px;
    border: none;
    height: 4px;
    background-color: #abacad !important;

.page h4
    margin-bottom: 0;

.page h4 code
    font-size: 0.7em;
    color: #fff;
    border-radius: 0;
    background-color: #748fa9 !important;

.page table code
    color: #fff;
    border-radius: 0;
    background-color: #748fa9 !important;